/* Initial body */
body {
  left: 0;
  margin: 0;
  
  position: relative;

  background-color: #f3e5f5;

  -webkit-background-size: cover;
     -moz-background-size: cover;
       -o-background-size: cover;
          background-size: cover;
  
}
#space{
  height: 43px;
  width: auto;
  background-color: #f3e5f5;
}


.media-object{
  padding-left: 10px;
}
.space{
  padding-left: 15px;
  padding-right: 0px
}
/* Initial menu */
.menu {
  background: #fafafa;
  left:-200px; /* start off behind the scenes */
  height: 100%;
  position: fixed;
  width: 200px;
  padding-top: 61px;
}

/* Basic styling */



.jumbotron{
  margin-top: 0px;
  padding-top: 0px;
  padding-bottom: 15px;


}


.jumbotron h1{
  text-align: center;
}
.menu ul {
  
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu li {
  border-bottom: 1px solid #424242;
  font-family: 'Open Sans', sans-serif;
  line-height: 45px;
  padding-bottom: 3px;
  padding-left: 20px;
  padding-top: 3px;
}

.menu a {
  color: #424242;
  font-size: 15px;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
}

.icon-close {
  cursor: pointer;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.icon-menu {
  display: inline-flex;
  
  color: #424242;
  cursor: pointer;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  padding-bottom: 5px;
  padding-left: 5px;
  padding-top: 10px;
  text-decoration: none;
  text-transform: uppercase;
  
}

.icon-menu i {
  margin-right: 5px;
}

footer {
        background: #333333;
        width: 100%;
        overflow: hidden;
        opacity: 0.90;
        font-style: verdana;
    }
    footer p,
    footer h5 {
        text-align: center;
        color: #fff;

    }
    footer p a {
        color: #fff;
        text-decoration: none;
    }
    ul.social li {
        display: inline-table;
        list-style: none;
    }
    ul .social li ing {
        height: 35px;
    }
    footer.second {
        border-top: none;
        background-color: #333333;
        max-height: 35px;
        text-align: center;
        opacity: 0.95;}




/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */
@media screen and (max-width: 320px) {
#carousel-example-generic{
  height: 172px;
}
.item{
  height: 172px;

}
.imge{
  height: 172px;
}
.jumbotron{
  margin-top: 0px;
  padding-top: 0px;
  padding-bottom: 2px; 
}

}

@media screen and (max-width: 360px) {
#carousel-example-generic{
  height: 175px;
}
.item{
  height: 175px;

}
.imge{
  height: 175px;
}
.jumbotron{
  margin-top: 0px;
  padding-top: 0px;
  padding-bottom: 5px; 
}

}
@media screen and (max-width: 412px) {
#carousel-example-generic{
  height: 185px;
}
.item{
  height: 185px;

}
.imge{
  height: 185px;
}
.jumbotron{
  margin-top: 0px;
  padding-top: 0px;
  padding-bottom: 5px; 
}
}
@media screen and (max-width: 414px) {
#carousel-example-generic{
  height: 180px;
}
.item{
  height: 180px;

}
.imge{
  height: 18px;
}
.jumbotron{
  margin-top: 0px;
  padding-top: 0px;
  padding-bottom: 5px; 
}

}

}
/* Small devices (tablets, 768px and up) */




/* Medium devices (desktops, 992px and up) */
@media (min-width: @screen-md-min) { 
#carousel-example-generic{
  height: 360px;
}
.item{
  height: 360px;

}
.imge{
  height: 360px;
}
.jumbotron{
  margin-top: 0px;
  padding-top: 0px;
  padding-bottom: 10px; 
}

}
@media (min-width:412px) and (max-width:545px) { 
 #carousel-example-generic{
  height: 250px;
}
.item{
  height: 250px;

}
.imge{
  height: 250px;
}
.jumbotron{
  margin-top: 0px;
  padding-top: 0px;
  padding-bottom: 10px; 
}




 }




/* Large devices (large desktops, 1200px and up) */
@media (min-width:1000px) and (max-width:5000px) { 
#carousel-example-generic{
  height: 450px;
}
.item{
  height: 450px;

}
.imge{
  height: 450px;
}
.jumbotron{
  margin-top: 0px;
  padding-top: 0px;
  padding-bottom: 10px; 
}

}
@media screen and (max-width: 331px) {
#carousel-example-generic{
  height: 155px;
}
.item{
  height: 155px;

}
.imge{
  height: 155px;
}
.jumbotron{
  margin-top: 0px;
  padding-top: 0px;
  padding-bottom: 2px; 
}
}
